.card {
  padding: 33px 36px 29px 36px;
  .title {
    text-align: center;
    margin-bottom: 51px;
  }
  .form {
    .textField {
      margin-bottom: 19px;
    }
    .description {
      margin-bottom: 65px;
    }
    .button {
      margin-bottom: 20px;
    }
  }
  .rememberPassword {
    text-align: center;
    margin-bottom: 11px;
  }
  .tryLoggingInLink {
    display: flex;
    justify-content: center;
  }
}
